In [75]:
import requests
import pandas as pd
import my_api_key as key
import csv

In [76]:
api_key = key.api_key

In [77]:
df = pd.read_csv("gps_data.csv")
df.head()

               Ville   Latitude  Longitude
0  Mont Saint Michel  48.635954  -1.511460
1         Saint Malo  48.649518  -2.026041
2             Bayeux  49.276462  -0.702474
3           Le Havre  49.493898   0.107973
4              Rouen  49.440459   1.093966

In [78]:

# Fonction pour récupérer la température et le champ "main" d'une ville
def get_temperature_and_main(latitude, longitude):
    url = f"https://api.openweathermap.org/data/3.0/onecall?lat={latitude}&lon={longitude}&appid={api_key}"
    response = requests.get(url)
    data = response.json()
    if "current" in data:
        temperature_celsius = data["current"]["temp"] - 273.15  # Convertir de Kelvin en Celsius
        weather_main = data["current"]["weather"][0]["main"]
        return temperature_celsius, weather_main
    else:
        return None, None

In [79]:
# Créer un fichier CSV pour enregistrer les données 
csv_filename = "meteo_data.csv"

with open('meteo_data.csv', 'w', newline='') as csvfile:
    fieldnames = ['Ville', 'Température (°C)', 'Météo']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()

    # Parcourir les lignes du DataFrame
    for index, row in df.iterrows():
        ville = row['Ville']
        latitude = row['Latitude']
        longitude = row['Longitude']
        temperature, weather_main = get_temperature_and_main(latitude, longitude)
        
        if temperature is not None:
            temperature_rounded = round(temperature)  # Arrondir la température à l'entier le plus proche
            writer.writerow({'Ville': ville, 'Température (°C)': temperature_rounded, 'Météo': weather_main})
            print(f"Ville: {ville}, Température : {temperature_rounded}°C, Météo: {weather_main}")
            
        else:
            writer.writerow({'Ville': ville, 'Température (°C)': 'N/A', 'Météo': 'N/A'})

print("Les résultats ont été enregistrés dans 'meteo_data.csv'")

Ville: Mont Saint Michel, Température : 16°C, Météo: Clouds
Ville: Saint Malo, Température : 16°C, Météo: Rain
Ville: Bayeux, Température : 17°C, Météo: Clouds
Ville: Le Havre, Température : 16°C, Météo: Clouds
Ville: Rouen, Température : 18°C, Météo: Clouds
Ville: Paris, Température : 19°C, Météo: Clouds
Ville: Amiens, Température : 18°C, Météo: Clouds
Ville: Lille, Température : 16°C, Météo: Clouds
Ville: Strasbourg, Température : 15°C, Météo: Rain
Ville: Chateau du Haut Koenigsbourg, Température : 11°C, Météo: Clouds
Ville: Colmar, Température : 13°C, Météo: Clouds
Ville: Eguisheim, Température : 13°C, Météo: Clouds
Ville: Besancon, Température : 18°C, Météo: Clouds
Ville: Dijon, Température : 18°C, Météo: Clear
Ville: Annecy, Température : 18°C, Météo: Clouds
Ville: Grenoble, Température : 20°C, Météo: Clouds
Ville: Lyon, Température : 21°C, Météo: Clear
Ville: Gorges du Verdon, Température : 19°C, Météo: Clouds
Ville: Bormes les Mimosas, Température : 18°C, Météo: Clouds
Ville: Cassis, Température : 21°C, Météo: Clouds
Ville: Marseille, Température : 21°C, Météo: Clear
Ville: Aix en Provence, Température : 21°C, Météo: Clouds
Ville: Avignon, Température : 22°C, Météo: Clear
Ville: Uzes, Température : 21°C, Météo: Clouds
Ville: Nimes, Température : 21°C, Météo: Clear
Ville: Aigues Mortes, Température : 17°C, Météo: Clear
Ville: Saintes Maries de la mer, Température : 21°C, Météo: Clouds
Ville: Collioure, Température : 21°C, Météo: Clouds
Ville: Carcassonne, Température : 23°C, Météo: Clear

In [ ]:
df = pd.read_csv("meteo_data.csv")
df.head()

               Ville  Température (°C)   Météo
0  Mont Saint Michel                16  Clouds
1         Saint Malo                16    Rain
2             Bayeux                17  Clouds
3           Le Havre                16  Clouds
4              Rouen                18  Clouds